*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: rgb(9, 8, 34);
    font-family: "Poppins", sans-serif;
    --color: rgb(5, 66, 107);
}

.container{
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
}

.app{
    text-align: center;
}

.title{
    font-size: 5rem;
    line-height: 110px;
    letter-spacing: 22px;
    font-weight: 700;
    color: #ffffff;
}

.content{
    line-height: 36px;
    letter-spacing: 1px;
    color: #d3d3e2;
}

.author{
    line-height: 36px;
    letter-spacing: 1px;
    color: #f0f0f0;
}

.mt{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}

.mb{
    margin-bottom: 1rem;
}

.link{
    text-decoration: none;
    color: var(--color);
}

.btn{
    padding: 15px 80px;
    border: none;
    background: var(--color);
    color: white;
    font-size: 1rem;
    white-space:initial;
    line-height: 1.6;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: all linear 300ms;
}

.btn-secondary{
    background: transparent !important;
    color: var(--color);
    border: solid 1px var(--color);
}

.btn:hover{
    transform: scale(1.02);
    border-width: 0.2px !important;
}

.card{
    user-select: none;
    background: rgb(14, 12, 48);
    padding: 4rem 3rem;
    border-radius: 10px;
    /*box-shadow: 1px 3px 2px -3px rgb(0 0 0/20%), 1px 3px 2px -0px rgb(0 0 0/5%);*/
    border: solid .1px var(--color);
}


.rotate:hover{
    transform: rotate(5deg);
    /*background: #5f9fdf;*/
}

.rotate:hover .card{
    transform: rotate(-5deg);
}
